<p class="text-muted imprint-notice">
    HPIjudge, based on <a href="https://www.domjudge.org/">DOMjudge 7.2.0</a> (<a href="https://hpi.de/en/imprint.html">Imprint</a> / <a href="https://hpi.de/impressum.html">Impressum</a>)
</p>
