<p class="text-muted imprint-notice">
    SoapJudge, based on <a href="https://www.domjudge.org/">DOMjudge 7.3.2</a> (<a href="https://www.kit.edu/impressum.php">Impressum</a> / <a href="https://www.kit.edu/datenschutz.php">Datenschutz</a>)
</p>
